.main-content {
    margin-left: 16rem; /* Matches the sidebar width */
    padding: 24px;
    min-height: calc(100vh - 90px); /* Adjust for navbar height */
    background: linear-gradient(to right, #2a4365, #285e61); /* Blue to Teal Gradient */
    color: white; /* Matches sidebar color */
    overflow-x: auto; /* Prevent horizontal scroll if sidebar collapses */
    transition: margin-left 0.3s ease; /* Smooth transition for sidebar toggle */
}

.suppliers {
  .modal {
    display: block !important;  /* Force visibility */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    background-color: #274263;
    color: red;
    width: 500px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
  }
}